/api_info.env
/ChatGPT_API/speech.mp3
/ChatGPT_API/speech.mp3
/user_input.wav
/ChatGPT_API/__pycache__/ChatGPT_Assistant.cpython-312.pyc
/ChatGPT_API/__pycache__/Vosk_STT.cpython-312.pyc
/Common/__pycache__/ThermometerWorker.cpython-312.pyc
/Common/__pycache__/constants_rpi.cpython-312.pyc
/Common/__pycache__/ThermometerWorker.cpython-312.pyc
/Common/__pycache__/utils_rpi.cpython-312.pyc
/Screens/Brewscreen/__pycache__/brewscreen.cpython-312.pyc
/Common/__pycache__/variables.cpython-312.pyc
/ChatGPT_API/__pycache__/assistant_functions.cpython-312.pyc
/ChatGPT_API/speech.mp3
/Common/__pycache__/constants_gui.cpython-312.pyc
/Common/__pycache__/detector_signals.cpython-312.pyc
